<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<h1>Chamelion Demo</h1>
	<h2>{{ page.subtitle }}</h2>
	<h3>{{ page.subsubtitle }}</h2>
	<hr/>
	<div class="container">

		{{ content }}

	</div><!-- /.container -->
	<footer>		
		<div class="row">
			<div class="col-12 tdright version">(C) RG, {{ site.data.version.v }}</div>
		</div>
	</footer>
</body>

</html>