<!DOCTYPE html>
<html>

<head>
	<title>Chamelion Demo}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/javascript/script.js"></script>
</head>

<body>
	<h2><a href="/" style="color: black;">Chamelion Demo</a></h2>
	<h3>{{ page.title }}</h3>
	<h4>{{ page.subtitle }}</h4>
	<hr/>
	<div class="container"> 

		{{ content }}

	</div>
	<div class="row row-empty-height-20px"></div>
	<footer>		
		<div class="row">
			<div class="col-12 tdright version">(C) RG, {{ site.data.version.v }}</div>
		</div>
	</footer>
</body>

</html>